@import "/src/assets/styles/variables.scss";

.manage_modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100dvh;
  width: 100vw;
  background-color: rgba($color: $dark_grey, $alpha: 0.75);
  z-index: 1;

  .manage_modal__block {
    position: absolute;
    bottom: -57%;
    left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
    width: 75%;
    border: none;
    border-radius: 10px;
    background: $white;
    padding: 1rem;
    animation: moveFromBottom 0.75s ease-in-out forwards;

    &.close {
      animation: moveFromBottomOut 0.5s ease-in-out forwards;
    }

    @keyframes moveFromBottom {
      0% {
        bottom: -57%;
      }

      50% {
        bottom: 10%;
      }

      100% {
        bottom: 5%;
      }
    }

    @keyframes moveFromBottomOut {
      0% {
        bottom: 5%;
      }

      50% {
        bottom: 10%;
      }

      100% {
        bottom: -57%;
      }
    }

    h2 {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      color: $dark_grey;
      padding: 1rem 0 2rem;
    }

    .manage_modal__form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: auto;
      scrollbar-width: none;

      .manage_modal__form_inputs {
        .manage_modal__form_input_container {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          padding-bottom: 1rem;

          &.has_color_picker {
            height: 100%;
          }

          label {
            padding-bottom: 0.5rem;
          }

          input {
            height: 1rem;
            border: 2px solid $dark-grey;
            border-radius: 7px;
            padding: 1rem;

            &[disabled] {
              background-color: $light_grey;
              border: none;
            }
          }

          .manage_modal__current_tag_color {
            box-sizing: border-box;
            height: 48px;
            width: 100%;
            border-radius: 7px;
            padding: 1rem;
            transition: 0.25s ease-in-out;

            &.disabled {
              pointer-events: none;
            }

            &.hide {
              height: 0%;
              padding: 0;
            }

            i {
              color: $white;
            }
          }

          .color_picker__list {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 10px;
            transition: 0.25s ease-in-out;

            &.hide {
              height: 0%;
            }

            .color_picker__item {
              flex: 1 0 30%;
              height: 30%;
              border: none;
              border-radius: 10px;
              transition: 0.25s ease-in-out;

              &:active {
                transform: scale(75%);
              }

              &.color_picker_modal__item_active {
                box-shadow:
                  inset -3px 0 0 $dark_grey,
                  inset 0 -3px 0 $dark_grey,
                  inset 3px 0 0 $dark_grey,
                  inset 0 3px 0 $dark_grey;
              }
            }
          }
        }

        .manage_modal__form_date_container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 1rem;

          p {
            font-size: 1rem;
            font-weight: 400;
            color: $medium_grey;
          }
        }

        label {
          font-size: 1.25rem;
          font-weight: 500;
          color: $dark_grey;
        }
      }
    }

    .manage_modal__buttons_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 1rem;

      button {
        width: 48%;
        background-color: $dark_grey;
        border: none;
        border-radius: 10px;
        color: $white;
        padding: 1rem 0;

        &[disabled] {
          opacity: 0.75;
        }

        &.manage_modal__cancel_button {
          background: transparent;
          box-shadow:
            inset -3px 0 0 $dark_grey,
            inset 0 -3px 0 $dark_grey,
            inset 3px 0 0 $dark_grey,
            inset 0 3px 0 $dark_grey;
          color: $dark_grey;
        }

        &.manage_modal__delete_button {
          background: $red;
        }

        &.manaege_modal__save_button {
          margin-top: 10px;
          width: 100%;
        }
      }
    }
  }
}
