@import "/src/assets/styles/variables.scss";
@import "/src/assets/styles/breakpoints.scss";

.header__container {
  height: 10vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: $light_yellow;
  padding: 1.5rem;

  .header__button {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: 0.25s ease-in-out;

    &:active {
      transform: scale(80%);
    }

    @media (min-width: $laptop_breakpoint) {
      display: none;
    }

    i {
      font-size: 2rem;
      color: $dark_grey;
    }
  }

  .header__dropdown {
    height: 0%;
    width: 50%;
    position: absolute;
    top: 55px;
    right: 22px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    opacity: 0;
    background-color: $dark_grey;
    border-radius: 10px;
    box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
    padding: 0 0.5rem;
    z-index: -1;

    &:after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      top: -7px;
      right: 10px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $dark_grey;
      z-index: 1;

      @media (min-width: $laptop_breakpoint) {
        display: none;
      }
    }

    &.showMenu {
      z-index: 2;
      height: 7rem;
      opacity: 1;
    }

    @media (min-width: $laptop_breakpoint) {
      position: static;
      height: 100%;
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      background: transparent;
      box-shadow: none;
      opacity: 1;
      transform: none;
      z-index: auto;
    }

    button {
      height: 100%;
      width: 100%;
      border: none;
      background: $dark_grey;
      color: $light_grey;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      transition: 0.25s ease-in-out;

      &:not(:last-child) {
        border-bottom: 1px solid $light_grey;

        @media (min-width: $laptop_breakpoint) {
          border-bottom: none;
        }
      }

      @media (min-width: $laptop_breakpoint) {
        width: auto;
        color: $dark_grey;
        background: transparent;
        border: none;
        margin: 0 1.5rem;

        &.active {
          position: relative;
          font-size: 1.25rem;
          font-weight: 700;

          &::after {
            content: "";
            float: left;
            background: $dark_grey;
            width: 100%;
            height: 5px;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
