<main class="create__container">
  <app-header></app-header>
  <div class="create__page_header">
    <h1>Create new</h1>
    <div class="create__toggle">
      <input
        [formControl]="createTypeIsTag"
        type="checkbox"
        id="create_type_toggle"
      />
      <label for="create_type_toggle">
        <div>Note</div>
        <div>Tag</div>
      </label>
    </div>
    <form
      *ngIf="!createTypeIsTag.value"
      (ngSubmit)="submitNoteForm()"
      [formGroup]="noteForm"
      class="create_form__container"
      id="note_form"
    >
      <div class="create_form__input_control">
        <input
          formControlName="title"
          type="text"
          name="noteTitle"
          id="noteTitle"
          placeholder=""
        />
        <label for="noteTitle">Title</label>
        <small *ngIf="title?.invalid && (title?.dirty || title?.touched)">
          <ng-container *ngIf="title?.hasError('required')"
            >A note's title is required</ng-container
          >
          <ng-container *ngIf="title?.hasError('minlength')"
            >The note's title must have at least 3 characters</ng-container
          >
          <ng-container *ngIf="title?.hasError('maxlength')"
            >The note's title must have a maximum of 20 characters</ng-container
          >
        </small>
      </div>
      <div class="create_form__input_control">
        <textarea
          formControlName="content"
          name="noteContent"
          id="noteContent"
          placeholder=""
          appTextareaAutoresize
        ></textarea>
        <label for="noteContent">Content</label>
        <small *ngIf="content?.invalid && (content?.dirty || content?.touched)">
          <ng-container *ngIf="content?.hasError('required')"
            >A note's content is required</ng-container
          >
          <ng-container *ngIf="content?.hasError('minlength')"
            >The note's content must have at least 3 characters</ng-container
          >
        </small>
      </div>
      <div class="create_form__tags_container">
        <h2>Add to tag</h2>
        <div class="create_form__tag_list">
          <span
            *ngFor="let item of this.tagsMock"
            (click)="toggleTagToNote(item.id)"
            class="create_form__tag"
            [ngStyle]="{ 'background-color': getTagColor(item.color)}"
            [class.create_form__tag_active]="noteTagsXref.includes(item)"
          >
            {{ item.name }}
          </span>
        </div>
      </div>
      <button type="submit" form="note_form" [disabled]="noteForm.invalid" class="create__submit_btn">
        Create
      </button>
    </form>
    <form
      *ngIf="createTypeIsTag.value"
      (ngSubmit)="submitTagForm()"
      [formGroup]="tagForm"
      class="create_form__container"
      id="tag_form"
    >
      <div class="create_form__input_control">
        <input
          formControlName="name"
          type="text"
          name="tagName"
          id="tagName"
          placeholder=""
        />
        <label for="tagName">Name</label>
        <small *ngIf="name?.invalid && (name?.dirty || name?.touched)">
          <ng-container *ngIf="name?.hasError('required')"
            >A tag's name is required</ng-container
          >
          <ng-container *ngIf="name?.hasError('minlength')"
            >The tag's name must have at least 3 characters</ng-container
          >
          <ng-container *ngIf="name?.hasError('maxlength')"
            >The tag's name must have a maximum of 20 characters</ng-container
          >
        </small>
      </div>
      <div (click)="toggleColorPickerModal()" class="create_form__color_picker">
        <span [ngStyle]="{ 'background-color': getTagColor(color?.value) }"></span>
        <label>Color</label>
      </div>
      <button type="submit" form="tag_form" [disabled]="tagForm.invalid" class="create__submit_btn">
        Create
      </button>
    </form>
  </div>
</main>

<div *ngIf="showColorPIckerModal" class="color_picker_modal__container" #modalOverlayEl>
  <div class="color_picker_modal__block" #modalBlockEl>
    <h2>Pick a color</h2>
    <div class="color_picker_modal__list">
      <span
        *ngFor="let item of tagColors" (click)="pickColor(item)"
        [ngStyle]="{ 'background-color': item.color }"
        [class.color_picker_modal__item_active]="item.id === color?.value"
        [id]="item.name"
        class="color_picker_modal__item"
      ></span>
    </div>
  </div>
</div>
