$dark_grey: #363636;
$medium_grey: #9e9e9e;
$light_grey: #e5e5e5;
$dark_blue: #242f40;
$light_blue: #c6d2e8;
$dark_yellow: #897242;
$medium_yellow: #cca43b;
$light_yellow: #ffeeca;
$white: #fff;
$black: #252525;
$red: #e74c3c;
$blue_link: #2196f3;
