$dark_grey: #363636;
$medium_grey: #9E9E9E;
$light_grey: #E5E5E5;
$dark_blue: #242F40;
$light_blue: #C6D2E8;
$dark_yellow: #897242;
$medium_yellow: #CCA43B;
$light_yellow: #FFEECA;
$white: #FFF;
$black: #252525;
$red: #E74C3C;
